minimum-release-age-exclude[]=@pierre/theming
minimum-release-age-exclude[]=oxlint
minimum-release-age-exclude[]=@oxlint/binding-*
minimum-release-age-exclude[]=svelte-check
minimum-release-age-exclude[]=typescript
minimum-release-age-exclude[]=tailwindcss
minimum-release-age-exclude[]=@tailwindcss/*
minimum-release-age-exclude[]=postcss
minimum-release-age-exclude[]=brace-expansion
minimum-release-age-exclude[]=vitest
minimum-release-age-exclude[]=@vitest/*
